# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List some free open source development environment

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn

|Data Science Tools|
|------------------|
|Tensorflow|
|Apache Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
print("This a simple arithmetic expression to mutiply then add integers")
(3 * 4) + 5

This a simple arithmetic expression to mutiply then add integers

17

In [8]:
print("This will convert 200 minutes to hours by diving by 60")
200 / 60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Phuc Nguyen